@font-face {
    font-family: 'DungGeunMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #11109B;
    --gray-color: #A6A7AD;
    --main-font: "DungGeunMo";
    --main-border: 2px solid black;
}

/*nav*/
* {
    margin: 0;
    padding: 0;
}

a {
    color: white;
}


nav {
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    height: 8vh;
    justify-content:space-between;
}

nav > div {
    margin: 0 10rem;
    color: white;
}

#nav_menu {
    display: flex;
    gap: 3rem;
}

#nav_menu > a {
    color:white;
}

/*footer*/
footer{
    height: 8vh;
    background-color: var(--main-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

footer > span{
    color: white;
}

/**/
section {
    height: 84vh;
    /*배경사진추가*/
    background-color: var(--main-color);
    background-size: cover;
}

.main_container{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

}
/*
.main_title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

}
    */
.main_title>p{
    font-size: 60px;
    font-weight: bold;
    color : white;
}


.btns {
    display: flex;
    gap: 10px;
    margin: 10px;

}

.btn_game, .btn_history, .btn_signup {
    background-color: var(--main-color);
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 15px;
}