h2 {    
    font-family: var(--main-font);
}
.submit_container {
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.submit_container h2 {
    font-weight: 600;
    margin-bottom: 15px;
}

.shadow_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 200px;
    background-color: transparent;
    background-image: url('../images/game_background.jpg');
    background-size :  contain;
    background-repeat: no-repeat;
    background-position: center;
    gap: 10px;
    border: none;
    border-radius: 0;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.signup p {
    margin-bottom: 20px;
    font-family: var(--main-font);

}

.signup label {
    padding: 1px 5px;
    margin: 10px;
}

.submit_btn {
    margin-right: 130px;
    margin-top: 10px;
    padding: 5px 15px;
    background-color: var(--gray-color);
    color: white;
    border: none;
    font-family: var(--main-font);

}