@font-face {
    font-family: 'DungGeunMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #11109B;
    --gray-color: #A6A7AD;
    --main-font: "DungGeunMo";
    --main-border: 2px solid black;
}