@import "//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css";

@font-face {
    font-family: 'MoveSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.attack__container {
    background-color: rgb(236, 151, 151);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.attack__form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
    gap: 10px;
}
#attack__title {
    font-family: 'MoveSans-Bold';
    font-size: 1.3rem;
}

#card__title {

}