{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="submit_container">
    <div class="submit_modal">
        <h3 id="ranking-title">Piro 명예의 전당</h3>
        <div id="ranking-123">
            {% with sorted_users=user_list|dictsortreversed:"user_score" %}
                {% for user in sorted_users|slice:":3" %}
                    {% if forloop.counter == 2 %}
                        {% with user2=user %}
                        <div>
                            <div class="ranking-text">
                                <p>{{ user.username }}</p>
                                <p>{{ user.user_score }}</p>
                            </div>
                            <div id="ranking-2">2</div>
                        </div>
                        {% endwith %}
                    {% elif forloop.counter == 1 %}
                        {% with user1=user %}
                        <div>
                            <div class="ranking-text">
                                <p>{{ user.username }}</p>
                                <p>{{ user.user_score }}</p>
                            </div>
                            <div id="ranking-1">1</div>
                        </div>
                        {% endwith %}
                    {% elif forloop.counter == 3 %}
                        {% with user3=user %}
                        <div>
                            <div class="ranking-text">
                                <p>{{ user.username }}</p>
                                <p>{{ user.user_score }}</p>
                            </div>
                            <div id="ranking-3">3</div>
                        </div>
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            {% endwith %}
        </div>
        <div class="submit_center"><a href="{% url 'game:game_list' %}" class="to_list">전적 목록</a></div>
    </div>
</section>
{% endblock %}