{%load static%}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    
    {% block head %}

    {% endblock %}
</head>
<body>
    <header>
        <a href="/" id='logo' style='text-decoration: none;'><h1>My SW Idea Manage</h1></a>
        <nav>
        </nav>
    </header>
    <main>
        <a href = "{% url 'users:main'%}">로그인</a>
        {% block content %}
        
        {% endblock %}
    </main>
    
</body>
</html>
