{% extends 'base.html' %}
{% load static %}
{% block content %}

<section>
    <div class="main_container">
        <div class="main_title">
            <p>Piro Game</p>
        </div>
        {% if user.is_authenticated %}
        <span class="main_username">{{request.user.username}}님이 로그인 중</span>
        {% endif %}
        <div class="btns">
            {% if user.is_authenticated %}
            <button class="btn_game"><a href="{% url 'game:attack' %}">start</a></button>
            <button class="btn_history"><a href="{% url 'game:game_list'%}">list</a></button>
            {% else %}
            <button class="btn_game"><a href="{% url 'common:login' %}">start</a></button>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}